[*]
charset=utf-8
end_of_line=lf
insert_final_newline=false
indent_style=space
indent_size=4

[*.java]
indent_style=tab
tab_width=4
max_line_length=140

[{*.gson,*.gradle,*.groovy,*.gant,*.gdsl,*.gy,*.gs}]
indent_style=tab
tab_width=4
max_line_length=140

[{*.yml,*.yaml}]
indent_style=space
indent_size=2

