---
---

@import "{{ site.theme }}";

a:hover {
    text-decoration: none;
    font-weight: unset;
    color: orange;
}

h2 {
    padding-top: 25px;
}

h1 a {
    color: white;
}

h2 a {
    color: white;
}

ul {
    margin-bottom: 0;
}

li {
    margin-top: 0.7em;
    li {
        margin-top: 0;
    }
}

header.inner {
    max-width: 800px;
}

section.inner {
    max-width: 800px;
}

footer.inner {
    max-width: 800px;
}

nav.inner {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav {

    ul {
        padding: 0;
        margin: 0;
        li {
            font-size: larger;
            display: inline;
            padding-right: 0.7em;

        }
    }
}

pre.highlight {
    margin-top: 1em;
    margin-bottom: 1em;
}

pre.highlight {
    background-color: white;
}

div {
    font-size: large;
}

a code {
    color: #0F79D0;
    text-decoration: underline;
}

#top-link {
    position: fixed;
    bottom: 10px;
    right: 50px;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;

    a:focus {text-decoration: none}
}
