# This workflow will build a Java project with Gradle

name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches:
      - '*'

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        java: [ '8.0.302+8', '11.0.12+7', '17.0.0+35', '18' ]

    name: Test on Java ${{ matrix.Java }}

    steps:
      - uses: actions/checkout@v3
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.Java }}
          check-latest: true

      - name: Build and Test
        run: |
          ./gradlew --version
          ./gradlew test --info

      - name: Publish Test Report
        uses: scacap/action-surefire-report@v1
        if: always() && (github.ref == 'refs/heads/main')
        with:
          check_name: Test Report for Java ${{ matrix.Java }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          report_paths: '**/build/test-results/test/TEST-*.xml'

