# This workflow will build a Java project with Gradle

name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches:
      - '*'

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        java: [ '8.0.322+6', '11.0.14+101', '17.0.2+8', '18.0.0+36' ]

    name: Test on Java ${{ matrix.Java }}

    steps:
      - uses: actions/checkout@v3
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.Java }}
          check-latest: true

      - uses: burrunan/gradle-cache-action@v1
        # See https://github.com/burrunan/gradle-cache-action
        name: Build and Test
        with:
          # It allows different cache contents for different JDKs
          job-id: java${{ matrix.java }}
          arguments: check

      - name: Publish Test Report
        uses: scacap/action-surefire-report@v1
        if: always() && (github.ref == 'refs/heads/main')
        with:
          check_name: Test Report for Java ${{ matrix.Java }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          report_paths: '**/build/test-results/test/TEST-*.xml'

